<!DOCTYPE html>
<html lang="en">

<head>
    <title>KNOWLEDGE SHARING</title>
    <%- include('../partials/links'); %>

</head>

<h1 style="color:black;font-size:60px;">WELCOME TO KNOWLEDGE SHARING</h1>
<h2 style="color:green;font-size:40px;">Degree ni harambee, epuka sup na pastpapers!!</h2>

<body>
    <form method="GET" action="/getAllPapers">
        <%- include('../partials/nav'); %>
    </form>
    <form method="GET" action="/getAllCategories">
            <h2 style="color:red;font-size:40px;">New papers are now available for upload!!</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <% rows.forEach(function(category){%>
                    <div class="col">
                        <div class="card">
                            <a
                                href="/getAllPapers?category_id=<%=category.category_id %>&search=&studentyear=&paperyear=&papertype=">
                                <img src=<%=category.photo_url %> class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= category.category_name %>
                                    </h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <% }); %>

            </div>
            <%- include('../partials/pagination'); %>
    </form>
</body>

</html>
<script>
</script>