<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>categoryA</title>
  <%- include('../partials/links'); %>
</head>
<body>
   <form method="GET" action="/getAllPapers">
      <%- include('../partials/nav'); %>
        <p>
          <% if(papers.length> 0){%>
            <h6 style="text-transform:uppercase;">
              <%=papers[0].category_name%>
            </h6>
            <%}else{%>
              <h6>no papers are available yet</h6>
              <%}%>
        </p>
        <div class="row">
          <% papers.forEach(function(paper){%>
            <div class="col">
                </b>
                <p>
                <div class="card" style="width: 18rem; border: rgb(12, 12, 12) solid 2px;">
                  <a href="getSinglePaper/?paper_id=<%=paper.paper_id %>">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=paper.paper_name%></h5>
                      <!-- <h5 class="card-title"></h5> -->
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                      <!-- <a href="#" class="btn btn-primary">Download</a> -->
                    </div>
                  </a>
                  </p>
                </div>
            </div>
            <%}); %>
        </div>
        <br>
        <%- include('../partials/pagination'); %>
    </form>
</body>

</html>