<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knowledge sharing</title>
    <%- include('../partials/links'); %>
    </script>
</head>
<body>
    <%- include('../partials/nav'); %>
    <div class="container">
        <div class="row">
            <div class="col">Paper Details </div>
            <img src=<%=paper[0].photo_url %> class="img-fluid" alt="...">
            <p class="text-end">Paper Name : <%=paper[0].paper_name %></p>
            <p class="text-end">Category : <%=paper[0].category_name %></p>
            <p class="text-end">Paper Details : <%=paper[0].paper_details %></p>
           <a href=<%=paper[0].paper_url %>> <button type="button" class="btn btn-primary"> Download </button></a>
        </div>
    </div>
</body>
</html>